.project
.idea/
.*.swp
.*.swo
._*
.tags
.DS_Store
/Debug/
/debug/
.idea/
.svn/
*.orig
*.aps
*.APS
*.chm
*.exp
*.pdb
*.rar
*.mo
*.po
*.pot
.smbdelete*
*.sublime*
.sass-cache
.htaccess
build/node_modules/*
statics/build/node_modules/*
node_modules/*
node_modules
*.cmd
*.flv