.project
.idea/
.*.swp
.*.swo
._*
.tags
.DS_Store
/Debug/
/debug/
.idea/
.svn/
*.orig
*.aps
*.APS
*.chm
*.exp
*.pdb
*.rar
*.mo
*.po
*.pot
.smbdelete*
*.sublime*
.sass-cache
.htaccess
build/node_modules/*
statics/build/node_modules/*
node_modules/*
node_modules
000/
*.cmd
*.flv
statics/ve_2015/watch/*
statics/ve_2015/watch
statics/ve_2015/src/_js
statics/ve_2015/src/_css
statics/ve_2015/src/_img
statics/ve_2015/dist
statics/ve_2015/src/_js/*
statics/ve_2015/src/_css/*
statics/ve_2015/src/_img/*
statics/ve_2015/img/ve_sp
statics/ve_2015/img/ve_bg
statics/ve_2015/dist/*
statics/ve_2015/less/sprite/*