/* 公用样式 */
/*加载公用LESS文件*/
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 'Microsoft YaHei', tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;
}
html,
body {
  background: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var,
code,
kbd,
pre,
samp {
  font-style: normal;
}
small {
  font-size: 12px;
}
ol,
ul {
  list-style: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:active,
a:focus,
input {
  outline: none;
}
a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #ff4785;
  text-decoration: underline;
}
.clearfix,
.container {
  *zoom: 1;
}
.clearfix:before,
.container:before,
.clearfix:after,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.container:after {
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* 显示与隐藏 */
.show {
  display: block!important;
}
.hidden {
  display: none!important;
}
.block {
  display: block!important;
}
.bg-none {
  background: none !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
/* function */
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.header {
  background-color: #fff;
  /*topbar*/
  /*doc-head*/
  /*submenu-box*/
}
.header .topbar {
  height: 36px;
  font-family: "SimSun", "宋体";
  background-color: #fff;
}
.header .topbar-right li {
  float: left;
  margin-left: 25px;
  height: 36px;
  line-height: 36px;
}
.header .app {
  position: relative;
  padding-left: 15px;
}
.header .app i.icon {
  background-image: url(../_img/sp/common.png);
  background-position: -483px -114px;
  width: 9px;
  height: 13px;
  position: absolute;
  top: 11px;
  left: 0;
}
.header .personal {
  position: relative;
  z-index: 10000;
  /*下拉*/
}
.header .personal .pull-down span,
.header .personal .pull-down em {
  display: block;
  height: 36px;
  line-height: 36px;
}
.header .personal .pull-down .eg {
  display: none;
}
.header .personal .pull-down:hover {
  display: block;
  min-height: 36px;
  height: expression(document.body.clientHeight > 36? '36px': 'auto' );
}
.header .personal .pull-down:hover .eg {
  display: block;
  transition: height 2s;
  -moz-transition: height 2s;
  -webkit-transition: height 2s;
}
.header .contact {
  position: relative;
  padding-left: 18px;
}
.header .contact i.icon {
  display: block;
  background-image: url(../_img/sp/common.png);
  background-position: -462px -114px;
  width: 11px;
  height: 14px;
  position: absolute;
  top: 11px;
  left: 0;
}
.header .doc-head {
  height: 138px;
  width: 100%;
  background: #0cddcc url('../img/doc-head-bg.png') no-repeat left top;
  /*nav*/
  /*cart*/
}
.header .doc-head .logo-nav {
  position: relative;
  height: 141px;
  background: url('../img/logo-nav-bg.png') no-repeat 275px top;
}
.header .doc-head .logo {
  position: absolute;
  left: -91px;
}
.header .doc-head .logo a {
  display: block;
  width: 359px;
  height: 138px;
  background: url('../img/logo.jpg') no-repeat center top;
  text-indent: -9999em;
}
.header .doc-head .nav {
  height: 70px;
  width: 850px;
  margin: 30px 0 0 265px;
  background: url('../img/nav-bg.png') no-repeat right center;
}
.header .doc-head .nav li {
  float: left;
  position: relative;
  margin-right: 75px;
  background-image: url(../_img/sp/common.png);
  background-position: -369px -34px;
  width: 170px;
  height: 70px;
  cursor: pointer;
}
.header .doc-head .nav li:hover,
.header .doc-head .nav li.active {
  background-image: url(../_img/sp/common.png);
  background-position: -549px -34px;
  width: 170px;
  height: 70px;
}
.header .doc-head .nav li:hover .nav-main,
.header .doc-head .nav li.active .nav-main,
.header .doc-head .nav li:hover .nav-menu,
.header .doc-head .nav li.active .nav-menu {
  color: #fff;
}
.header .doc-head .nav li:hover .nav-menu a,
.header .doc-head .nav li.active .nav-menu a {
  font-size: 12px;
  color: #fff;
}
.header .doc-head .nav li:hover .nav-menu a:hover,
.header .doc-head .nav li.active .nav-menu a:hover {
  color: #fff;
}
.header .doc-head .nav li .nav-main,
.header .doc-head .nav li .nav-menu {
  display: inline-block;
  padding-left: 38px;
  color: #26b080;
}
.header .doc-head .nav li .nav-menu a {
  display: inline-block;
  margin-right: 5px;
  color: #26b080;
}
.header .doc-head .nav li .nav-menu a:hover {
  color: #fff;
}
.header .doc-head .nav li .nav-main {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.header .doc-head .nav li .nav-menu {
  font-family: "SimSun", "宋体";
}
.header .doc-head .cart {
  margin: 35px 0 0 -98px;
}
.header .doc-head .cart a.mycart {
  display: block;
  position: relative;
  background-image: url(../_img/sp/common.png);
  background-position: 0px -148px;
  width: 54px;
  height: 54px;
}
.header .doc-head .cart .cartnum {
  position: absolute;
  right: -5px;
  top: -8px;
  display: block;
  background-image: url(../_img/sp/common.png);
  background-position: -369px -114px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  font-size: 16px;
  font-family: arial;
}
.header .submenu-box {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
}
.header .tel {
  margin-top: 18px;
  text-indent: -9999em;
  background-image: url(../_img/sp/common.png);
  background-position: -729px -34px;
  width: 155px;
  height: 16px;
}
.header .submenu {
  margin-left: 115px;
  padding-top: 8px;
}
.header .submenu li {
  float: left;
  margin: 0 16px;
}
.header .submenu li a {
  display: block;
  font-size: 14px;
  color: #666;
  height: 35px;
  line-height: 35px;
  padding: 0 18px;
}
.header .submenu li a:hover,
.header .submenu li a.active {
  background-color: #26b080;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}
/* footer */
#footer {
  margin-top: 106px;
  background: #fff;
}
.m-foot-topbg {
  height: 59px;
  background: url("../_img/bg/bg-foot-top.png") no-repeat top center;
}
.m-foot-server {
  width: 100%;
  margin-top: 60px;
  border-bottom: 1px solid #e4e4e4;
}
.foot-server {
  padding-bottom: 56px;
}
.foot-server li {
  height: 42px;
  float: left;
}
.foot-server li a {
  display: block;
  float: left;
}
.foot-server li a i {
  display: block;
}
.foot-server li a:hover {
  text-decoration: none;
}
.foot-server i.icon-server1 {
  background-image: url(../_img/sp/common.png);
  background-position: -787px -60px;
  width: 38px;
  height: 42px;
}
.foot-server i.icon-server2 {
  background-image: url(../_img/sp/common.png);
  background-position: -729px -60px;
  width: 48px;
  height: 42px;
}
.foot-server i.icon-server3 {
  background-image: url(../_img/sp/common.png);
  background-position: -835px -60px;
  width: 38px;
  height: 42px;
}
.foot-server i.icon-server4 {
  background-image: url(../_img/sp/common.png);
  background-position: -883px -60px;
  width: 38px;
  height: 42px;
}
.foot-server .foot-server-bd {
  display: block;
  margin: -42px 0 0 48px;
}
.foot-server .foot-server-bd h4 {
  font-size: 18px;
  font-weight: normal;
  color: #333;
}
.foot-server .foot-server-bd p {
  font-size: 12px;
  color: #999;
}
.foot-server .server-item2 .foot-server-bd {
  display: block;
  margin: -42px 0 0 57px;
}
.foot-server .serverline {
  display: block;
  float: left;
  width: 1px;
  height: 42px;
  margin: 0 91px 0 91px;
  background: #eee;
}
.m-foot-nav {
  margin-top: 38px;
  margin-bottom: 80px;
}
.m-foot-nav .content-link {
  width: 980px;
  float: left;
}
.m-foot-nav .content-link dl {
  float: left;
  width: 196px;
}
.m-foot-nav .content-link dt {
  line-height: 42px;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
.m-foot-nav .content-link dd {
  line-height: 22px;
}
.m-foot-nav .content-link dd a {
  font-family: "SimSun", "宋体";
}
.m-foot-nav .kefu-con li {
  padding-top: 15px;
}
.m-foot-nav .kefu-con i {
  display: block;
}
.m-foot-nav .kefu-con i.icon-tel {
  background-image: url(../_img/sp/common.png);
  background-position: -980px -60px;
  width: 24px;
  height: 27px;
}
.m-foot-nav .kefu-con i.icon-chat {
  background-image: url(../_img/sp/common.png);
  background-position: -1014px -60px;
  width: 24px;
  height: 27px;
}
.m-foot-nav .kefu-con .kefu-item {
  margin: -35px 0 0 35px;
}
.m-foot-nav .kefu-con .kefu-item strong {
  font-size: 22px;
  color: #26b080;
}
.m-foot-nav .kefu-con .kefu-item p {
  color: #333;
  font-family: "SimSun", "宋体";
}
.m-foot-nav .content-qr {
  float: right;
  padding-top: 18px;
}
.m-foot-nav .content-qr .qrcode-info p {
  font-size: 12px;
  color: #333;
}
.m-foot-bottom {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #535353;
}
.m-foot-bottom .m-copyright {
  float: left;
  color: #7c7c7c;
}
.m-foot-bottom .m-copyright i {
  display: block;
  float: left;
  margin-top: 22px;
  margin-right: 10px;
  background-image: url(../_img/sp/common.png);
  background-position: -931px -60px;
  width: 39px;
  height: 34px;
}
.m-foot-bottom .m-copyright p {
  float: left;
}
.m-foot-bottom .m-links {
  float: right;
}
.m-foot-bottom .m-links a {
  padding-left: 15px;
  color: #c3c3c3;
  font-family: "SimSun", "宋体";
}
/* side-panel */
.m-sidebar-panel {
  position: fixed;
  _position: absolute;
  z-index: 2000;
  left: 50%;
  margin-left: 610px;
  bottom: 120px;
  width: 38px;
  background: #333;
  opacity: 1;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.m-sidebar-panel .sidebar-paner-item {
  padding: 15px 0;
  border-bottom: 1px solid #4f4f4f;
}
.m-sidebar-panel .sidebar-paner-item i {
  display: block;
  margin: 0 auto 2px auto;
}
.m-sidebar-panel .sidebar-paner-item i.icon-cart {
  background-image: url(../_img/sp/common.png);
  background-position: -894px -34px;
  width: 17px;
  height: 15px;
}
.m-sidebar-panel .sidebar-paner-item i.icon-kf {
  background-image: url(../_img/sp/common.png);
  background-position: -436px -114px;
  width: 16px;
  height: 19px;
}
.m-sidebar-panel .sidebar-paner-item i.icon-top {
  background-image: url(../_img/sp/common.png);
  background-position: -921px -34px;
  width: 18px;
  height: 10px;
}
.m-sidebar-panel .sidebar-cart {
  margin-top: 5px;
}
.m-sidebar-panel .sidebar-top {
  border-bottom: none;
}
.m-sidebar-panel .sidebarcom-text {
  margin: 0 auto;
  width: 14px;
  line-height: 18px;
  word-wrap: break-word;
  word-break: normal;
  font-size: 12px;
  color: #fff;
}
.m-sidebar-panel .cart-num {
  display: block;
  margin: 5px auto 0 auto;
  background-image: url(../_img/sp/common.png);
  background-position: -403px -114px;
  width: 23px;
  height: 23px;
  overflow: hidden;
  line-height: 23px;
  text-align: center;
  color: #fff;
}
/*当前模块的页面布局*/
/*当前页面的header*/
/*
*如果是公共的头尾部，这里留空即可
*如果当前页面的头部是自定义的
*则在这里书写样式，覆盖common.css中得头尾部
*或者，不引入common.css
*/
/*各个区块样式*/
.i-ad {
  margin-top: 20px;
}
.i-ad li {
  float: left;
}
.i-ad li img {
  width: 300px;
  height: 150px;
}
/*main*/
.main {
  background: url('../img/i-main.png') no-repeat center 25px;
}
/* 可公用标题栏目 */
.m-hd-title {
  margin-top: 50px;
}
.m-hd-title h2 {
  font-weight: normal;
}
.m-hd-title i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 5px;
  vertical-align: -5px;
}
.m-hd-title strong {
  margin-right: 5px;
  font-size: 26px;
  font-weight: normal;
  color: #333;
}
.m-hd-title em {
  font-size: 20px;
  color: #e73069;
}
.m-hd-title span {
  font-size: 16px;
  color: #999;
}
.m-hd-title .icon-snapping {
  background-image: url(../_img/sp/index.png);
  background-position: -104px -106px;
  width: 27px;
  height: 30px;
}
.m-hd-title .icon-sale {
  background-image: url(../_img/sp/index.png);
  background-position: -170px -80px;
  width: 27px;
  height: 30px;
}
.i-time li {
  float: left;
  color: #666;
}
.i-time li span {
  margin: 0 1px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 16px;
  font-family: arial;
  display: inline-block;
  background-image: url(../_img/sp/index.png);
  background-position: 0px -158px;
  width: 28px;
  height: 28px;
}
.i-time li i.time-icon {
  margin: 0 6px;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../_img/sp/index.png);
  background-position: -150px -60px;
  width: 2px;
  height: 7px;
}
.lab {
  position: absolute;
  right: 0;
  top: 0;
}
.lab i {
  display: inline-block;
}
.lab i.hot {
  background-image: url(../_img/sp/index.png);
  background-position: 0px -106px;
  width: 42px;
  height: 42px;
}
.lab i.new {
  background-image: url(../_img/sp/index.png);
  background-position: -52px -106px;
  width: 42px;
  height: 42px;
}
/*限时抢购*/
.snapping .i-time {
  margin: 8px  0 0 15px;
}
.snapping li.item a {
  height: 328px;
}
/*今日特卖*/
.t-sale li.item a {
  height: 300px;
}
.bor0 {
  border: 0 !important;
}
.i-bd {
  margin-top: 15px;
}
.i-bd li.item {
  float: left;
  margin-bottom: 20px;
}
.i-bd li.item a {
  display: block;
  position: relative;
  zoom: 1;
  border-right: 1px #eee solid;
  background: #fff;
  width: 239px;
  overflow: hidden;
}
.i-bd li.item img {
  display: block;
  vertical-align: middle;
  width: 239px;
  height: 239px;
  max-width: 239px;
  max-height: 239px;
}
.i-bd li.item span.tit {
  display: block;
  padding: 10px 9px 0 9px;
  height: 35px;
  overflow: hidden;
  font-family: "SimSun", "宋体";
}
.i-bd li.item .pri {
  padding: 5px 9px 0 9px;
}
.i-bd li.item .pri .price {
  font-family: arial;
  font-size: 20px;
  color: #e73069;
  font-weight: bold;
}
.i-bd li.item .pri .price span.rmb {
  font-size: 14px;
}
.i-bd a.item-special {
  position: relative;
  text-align: center;
}
.i-bd a.item-special img {
  height: 40px;
  width: auto;
  max-height: 40px;
  max-width: 240px;
  margin: 30px auto 0;
}
.i-bd a.item-special span.tit {
  font-size: 14px;
  font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", Tahoma, Geneva, sans-serif;
  color: #666;
  padding: 15px 35px 0 35px;
  height: 45px;
  margin-bottom: 15px;
}
.i-bd a.item-special span.discount {
  color: #ff6060;
}
.i-bd a.item-special span.discount em {
  font-size: 30px;
}
.i-bd a.item-special strong.end-time {
  position: absolute;
  bottom: 15px;
  width: 239px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.i-bd a.item-special .tips {
  background-image: url(../_img/sp/index.png);
  background-position: 0px -60px;
  width: 140px;
  height: 36px;
  color: #ff6060;
  margin: 28px  auto 0 auto;
  line-height: 36px;
  text-indent: -5px;
  overflow: hidden;
}
.i-bd a.item-special .tips em {
  font-size: 16px;
  font-weight: bold;
  font-family: arial;
}
.i-bd .h18 {
  height: 18px  !important;
}
.i-bd .mt20 {
  margin-top: 20px !important;
}
.i-bd .go-special {
  position: relative;
}
.i-bd .go-special i.icon {
  position: absolute;
  text-indent: -9999em;
  top: 120px;
  left: 40px;
  background-image: url(../_img/sp/index.png);
  background-position: 0px 0px;
  width: 160px;
  height: 50px;
}
.i-bd .big-item {
  position: relative;
  zoom: 1;
  float: left;
  margin-left: -1px;
  width: 720px;
  height: 328px;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
/* 可公用标题栏目 */
.m-hd-title {
  margin: 25px 0 12px 0;
}
.m-hd-title h2 {
  font-weight: normal;
}
.m-hd-title i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 5px;
  vertical-align: -5px;
}
.m-hd-title strong {
  font-size: 26px;
  font-weight: normal;
  color: #333;
}
.m-hd-title span {
  font-size: 16px;
  color: #999;
}
.m-hd-title .icon-grab {
  background-image: url(../_img/sp/index.png);
  background-position: -170px 0px;
  width: 27px;
  height: 30px;
}
.m-hd-title .icon-notice {
  background-image: url(../_img/sp/index.png);
  background-position: -170px -40px;
  width: 27px;
  height: 30px;
}
/* 列表组 最后疯抢*/
.m-list-group ul {
  margin-right: -20px;
}
.m-list-group li {
  width: 285px;
  height: 350px;
  float: left;
  margin: 0 20px 20px 0;
  background: #fff;
}
.m-list-group .list-item {
  /*明日预告 全场满300减50背影变化 */
}
.m-list-group .list-item .thumbnail {
  display: block;
  width: 285px;
  height: 252px;
  position: relative;
}
.m-list-group .list-item .thumbnail img {
  display: block;
}
.m-list-group .list-item .thumbnail .txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 26px;
  background: #7f7f7f;
}
.m-list-group .list-item .thumbnail .txt span {
  line-height: 26px;
  padding-left: 15px;
  color: #fff;
}
.m-list-group .list-item .m-small-tit {
  height: 32px;
  background: #c9f3e4;
  text-align: center;
  line-height: 32px;
}
.m-list-group .list-item .m-small-tit p {
  font-size: 14px;
  color: #333;
}
.m-list-group .list-item .m-small-tit i.icon-time {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url(../_img/sp/index.png);
  background-position: -170px -120px;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}
.m-list-group .list-item .m-small-notice {
  background: #ffdede;
}
.m-list-group .list-item .m-small-notice p {
  font-size: 14px;
  color: #ff6060;
}
.m-list-group .list-item .m-sale-brand {
  padding: 15px 10px 10px 10px;
}
.m-list-group .list-item .m-sale-brand .m-sale-logo {
  float: left;
  width: 115px;
  height: 34px;
}
.m-list-group .list-item .m-sale-brand .m-sale-logo img {
  display: block;
}
.m-list-group .list-item .m-sale-brand p {
  float: right;
  line-height: 34px;
  font-size: 12px;
  color: #999;
}
.m-list-group .list-item .m-sale-brand p span.u-price {
  padding: 0 5px;
  font-size: 20px;
  color: #e73069;
}
/*当前页面的footer*/
/*
*如果是公共的头尾部，这里留空即可
*如果当前页面的尾部是自定义的
*则在这里书写样式，覆盖common.css中得头尾部
*或者，不引入common.css
*/
